
/* Hero section */
#hero{
   position: absolute;
   top: 0;
   width: 100%;
}
#hero-img{
    height: 100vh;
    width: 100%;
}
#hero-img-mobile{
    display: none;
    height: 100vh;
    object-fit: cover;
}

#btn-header{
    transition: transform .2s; 
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
    color: whitesmoke;
    font-size: 1.1rem;
}
#btn-header::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#btn-header:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


#logo-header{
    transition: transform .2s; 
}

#logo-header:hover{
    transform: scale(1.2);
}

#btn-hlog{
    transition: transform .2s;  
}

#btn-hlog:hover{
    transform: scale(1.1);
}
/* About section */
#about{
    height: 100vh;
}
/* Testimonials section */
#testimonials{
    height: 100vh;
     
}

/* ContactUs section  */
#contactus{
    height: 100vh;
}

#footer-copyright{
    background-color: rgb(243, 244, 246);

}

footer{
    display: block;
}

/* Parte responsive per vari dispositivi */

/* Smartphones (portrait and landscape) ----------- */

@media (max-width: 1020px) { 
    #logo-header{
        display: none;
    }
 }

@media (max-width: 900px) { 
   
    #about{
        display: none;
    }
    #testimonials{
        display: none;
    }
    #footer{
        display: none;
    }
 }


 @media (max-width: 600px) { 
    #hero-img{
        display: none;
    }
    #hero-img-mobile{
        display: block;
    }
    #navbar-hero{
        display: none;
    }
    #logo-header{
        margin-top: 10px;
        display: flex;
    }
    #spec-hub{
        margin-top: 11px;
    }
    #header-mobile-rs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 }
