
/* Hero section */
#hero{
    background: url(../../public/img/About/cigarHeroSh.png);
    background-size: cover;
    height: 100vh;
}
#hero-navbar{
    background-color: blanchedalmond;
}
/* About section */
#about{
    height: 100vh;
}
/* Testimonials section */
#testimonials{
    height: 100vh;
}
/* ContactUs section  */
#contactus{
    height: 100vh;
}

#footer-copyright{
    background-color: rgb(243, 244, 246);
}

