.image-container{
    background-color: rgb(0, 10, 10);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.img-test{
    width: 50vmin;
    position: absolute;
    transform: translate(-50%, -50%);
}
.img-test:hover{
    transform: scale(2) 1s;
}

 .img-test[data-status="inactive"]{
    display: none;
 }

.img-test[data-status="active"]{
    display: block;
 }

