#page-home{
  display: flex;
  flex-direction: row;
}
/* sezione humidor, friends, profile */
#friends-page, #profile-page{
  margin-top: 20px;
}


#navbar {
  background-color: whitesmoke;
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mobile-navbar{
  display: none;
}

#navbar-top {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 120px;
}

#navbar-top a {
  display: flex;
  align-items: center;
  margin-right: 2rem;

}

#navbar-top img {
  margin-right: 1rem;
}

#navbar-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 10;
  margin-top: 3rem;
}
#itemMid{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  transition-delay: 0s;
  padding-left: 5rem;
  padding-right: 5rem;
}
#itemMid a{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: whitesmoke;
}
#itemMid a:hover{
  background-color: rgb(219, 217, 217);
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}


#navbar-bottom {
  margin-top: auto;
  display: flex;
  
}


#profile-wrapper {
  width: 220px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2.5rem;
}


#profile-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile-text {
  width: 190px;
  margin: auto;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}


/* Loader css */

#lds-roller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative; 
}
#lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
#lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(228, 46, 46);
  margin: -4px 0 0 -4px;
}
#lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
#lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
#lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
#lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
#lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
#lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
#lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
#lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
#lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
#lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
#lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
#lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
#lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
#lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
#lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
#lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Navbar with hamburger menu */
:root {
  --mobile-nav-bg: whitesmoke;
  --main-clr: rgb(187, 40, 40);
  --mobile-nav-shadow: 0px 3px var(--main-clr);
}

#mobile-navbar {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: var(--mobile-nav-bg);
  box-shadow: var(--mobile-nav-shadow);
}
#mobile-navbar #logo{
  color: #fff;
  text-decoration-color: var(--main-clr);
  font-size: 1.375rem;
  font-weight: 100;
}
#mobile-navbar ul {
  --padding: 1.25rem;
  --font-size: 1.25rem;

  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 10.55);
  box-shadow: var(--mobile-nav-shadow);
}
#mobile-navbar ul li {
  padding: var(--padding);
}
#mobile-navbar ul li a {
  color: black;
  text-decoration: none;
  position: relative;
}
#mobile-navbar ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
#mobile-navbar ul li a:hover::after {
  width: 100%;
}
#mobile-navbar .menu {
  width: 1.375rem;
  height: 1rem;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 1.25rem;
}
#mobile-navbar .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: black;
  transition: 0.3s ease;
  transform-origin: left;
}

#mobile-navbar .menu.active span {
  background: var(--main-clr);
}
#mobile-navbar .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}
#mobile-navbar .menu span:nth-child(3){
  transform-origin: left;
}
#mobile-navbar .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}
#mobile-navbar .menu.active span:nth-child(2) {
  scale: 0;
} 
/* Dimensione: 850px */

@media (max-width: 850px){
  #navbar{
    display: none;
  }
  #page-home{
    flex-direction: column;
  }
  #friends-page, #profile-page{
    margin-top: 100px;
  }
  #humidor-page{
    margin-top: 60px;
  }
  #lds-roller {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Sezione responsive navbar */
  #mobile-navbar{
    display: flex;
  }
  #mobile-navbar .menu{
    display: flex;
  }
  #mobile-navbar ul{
    --height: 0px;

    flex-direction: column;
    background: var(--mobile-nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 3.5rem;
    height: var(--height);
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  #mobile-navbar ul.active{
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * 4
    );
    transition: 1s ease;
  }
  #mobile-navbar ul li{
    width: 100%;
    text-align: center;
  }
  #mobile-navbar ul li a{
    width: 100%;
    text-transform: capitalize;
  }


}
